body {
    background-color: #243234 !important;
}

p {
    background: transparent;
    border: none
}

.Neon p {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f02be4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px
}

.Neon p:hover {
    background: #f02be4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f02be4,
        0 0 25px #f02be4,
        0 0 50px #f02be4,
        0 0 100px #f02be4;
}